<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Grocery Sales Web Application</display-name>

  <welcome-file-list>
    <welcome-file>landingPageSetup</welcome-file>
  </welcome-file-list>

  <!-- Error Pages -->
  <error-page>
    <error-code>400</error-code>
    <location>/Error400.jsp</location>
  </error-page>

  <error-page>
    <error-code>401</error-code>
    <location>/Error401.jsp</location>
  </error-page>

  <error-page>
    <error-code>403</error-code>
    <location>/Error403.jsp</location>
  </error-page>

  <error-page>
    <error-code>404</error-code>
    <location>/Error404.jsp</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/Error500.jsp</location>
  </error-page>

  <error-page>
    <error-code>503</error-code>
    <location>/Error503.jsp</location>
  </error-page>

  <!-- Tell the server to use form-based authentication. -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/index.jsp</form-login-page>
      <form-error-page>/failedLogin.jsp</form-error-page>
    </form-login-config>
  </login-config>


  <!-- Protect everything within the admin page. -->
  <security-constraint>

  <web-resource-collection>
    <web-resource-name>admin</web-resource-name>
    <url-pattern>/adminPage.jsp</url-pattern>
  </web-resource-collection>

  <auth-constraint>
    <role-name>admin</role-name>
  </auth-constraint>

</security-constraint>

  <!-- Protect routing to the shopper page. -->
  <security-constraint>

    <web-resource-collection>
      <web-resource-name>routeToShopper</web-resource-name>
      <url-pattern>/toShopperPage</url-pattern>
    </web-resource-collection>

    <auth-constraint>
      <role-name>shopper</role-name>
      <role-name>admin</role-name>
    </auth-constraint>

  </security-constraint>


  <!-- Protect everything within the shopper page. -->
  <security-constraint>

    <web-resource-collection>
      <web-resource-name>shopper</web-resource-name>
      <url-pattern>/shopperPage.jsp</url-pattern>
    </web-resource-collection>

    <auth-constraint>
      <role-name>shopper</role-name>
      <role-name>admin</role-name>
    </auth-constraint>

  </security-constraint>

  <security-role>
    <role-name>admin</role-name>
  </security-role>

  <security-role>
    <role-name>shopper</role-name>
  </security-role>
</web-app>
